*{
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	font-size: 100%;
	overflow-x: hidden;
}

body{
	background-color: #FBFBFB;
	font-family: 'Dosis', sans-serif;
}

a{
	color: red;
}

img{
	display: block;
	margin: 20px 10px;
	width: 400px;
}

.game{
	margin: 0px auto;
	max-width: 800px;
	padding: 20px;
}

.header, .link{
	margin: 10px;
}

.header{
	font-size: 2.5rem;

}

.link{

}

.text{
	font-size: 1.2rem;
	font-weight: lighter;
	line-height: 1.5;
	margin: 20px 10px;
}