@keyframes grow{
	from{transform: scale(1);}
	to{transform: scale(1.3);}
}

@keyframes grow2{
	from{transform: scale(1);}
	to{transform: scale(1.15);}
}

@keyframes growMobile{
	from{transform: scale(1) translateX(-10px);}
	to{transform: scale(1.3) translateX(-10px);}
}

@keyframes growTablet{
	from{transform: scale(1) translateX(-10px);}
	to{transform: scale(1.15) translateX(-10px);}
}

@keyframes fade-in{
	from{opacity: 0;}
	to{opacity: 1;}
}

@keyframes wire1{
	from{margin: -1000px 0 0 0;}
	to{margin: 0;}
}

@keyframes wire2{
	from{margin: 0 0 1000px 0;}
	to{margin: 0 0 -1000px 0;}
}

@keyframes wire3{
	from{margin: 0;}
	to{margin: -1000px 0 0 0;}
}

@keyframes wire4{
	from{margin: 0;}
	to{margin: 0 0 -1000px 0;}
}


*{
	border: 0;
	box-sizing: border-box;
	font-family: 'Poiret One', cursive;
	margin: 0;
	padding: 0;
}

html{
	overflow-x: hidden;
}

body{
	background-color: black;
	max-height: 1500px;
	min-height: 100vh;
	transform: scale(1.01);
}

h1{
	color: #DAAE3A;
}

button{
	cursor: pointer;
}

.main{
	display: flex;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}

.wire{
	background-color: #DAAE3A;
	max-width: 75px;
	min-height: 100vh;
	max-height: 1300px;
	overflow: hidden;
	position: relative;
	width: 10%;
	z-index: 100;
}

.wire__img{
	height: 1000px;
	overflow: hidden;
	position: relative;
	transform: translateX(-10px);
	width: 100%;
}
.wire__img--1{
	animation: wire1 25s linear infinite alternate-reverse;
}
.wire__img--2{
	animation: wire2 25s linear infinite alternate-reverse;
}
.wire__img--3{
	animation: wire3 25s ease-in-out infinite alternate-reverse;
}
.wire__img--4{
	animation: wire4 25s ease-in-out infinite alternate-reverse;

}

.graphics-container{
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 300px 0 200px 0;
	width: 80vw;
}

.volume{
	cursor: pointer;
	fill: #DAAE3A;
	height: 15px;
	margin: 50px 0 0 0;
}

.volume-up{
	display: none;
}

.vol-svg{
	height: 5vw;
	max-height: 40px;
}

.yellow-bar{
	align-items: center;
	display: flex;
	background-color: #DAAE3A;
	height: 100px;
	justify-content: center;
	min-width: 100vw;
	width: 100%;
}

.yellow-circle{
	animation: grow 10s ease-in-out infinite alternate;
	border-radius: 50%; 
	background-color: #DAAE3A;
	height: 450px;
	width: 450px;
	z-index: 100;
}

.posty{
	transform: translateY(75px) translateX(25px) translateZ(70px) scale(1.7);
	width: 100%;
}

.bottom-zone{
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	text-align: center;
	z-index: 100;
}

.bottom-zone__name{
	font-family: 'Monoton', sans-serif;
	font-size: 5rem;
	margin: 0 0 100px 0;
	transform: translateZ(50px);
}

.buttons-zone{
	display: flex;
	justify-content: space-evenly;
}

.button-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-height: 250px;
	max-width: 250px;
	width: 35%;
}

.button{
	background-color: #DAAE3A;
	display: inline-block;
	position: relative;
	width: 100%;
}

.button__title{
	font-size: 2rem;
	margin: 15px auto;
}

.text-zone{
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

.text{
	color: #DAAE3A;
	font-size: 1.4rem;
	margin: 20px;
}

.text-top{
	display: none;
}

.svg{
	cursor: pointer;
}

.skull{
	height: 100%;
	transition: all .5s ease-in-out;
	width: 100%;
}

.skull-svg:hover{
	transform: scale(1.15);
	transition: all .5s ease-in-out;
}

.compass-svg{
	transition: all .5s ease-in-out;
}

.compass-svg:hover{
	transition: all .5s ease-in-out;
	transform: rotate(180deg);
}

/*.svg{
	margin: 0 auto;
	overflow: hidden;
	width: 90%;
}

.skull-svg{
	margin: -25px 0 0 0;
	width: 100%;
	transition: all .5s ease-in-out;
	transform: scale(.8);
}*/



.label{
	color: #DAAE3A;
}

@media screen and (max-width: 768px){
	.yellow-circle{
		animation: grow2 10s ease-in-out infinite alternate;
		height: 300px;
		width: 300px;
	}

	.graphics-container{
		margin: 150px 0 120px 0;
	}

	.posty{
		transform: translateY(0px) translateX(25px) translateZ(70px) scale(1);
	}

	.wire__img{
		transform: translateX(1px);
	}

	.text{
		margin: 10px;
		width: 40%;
	}

	.yellow-bar{
		height: 80px;
	}
}

@media screen and (max-width: 320px){
	.yellow-circle{
		animation: growMobile 10s ease-in-out infinite alternate;
		transform: translateX(-10px);
	}

	.left-wire{
		display: none;
	}

	.right-wire{
		width: 30%;
	}

	.wire__img{
		height: 1000px;
		position: relative;
		transform: translateX(0px);
		width: 100%;
	}
	.wire__img--3{
		animation: wire3 25s ease-in-out infinite alternate-reverse;
	}
	.wire__img--4{
		animation: wire4 25s ease-in-out infinite alternate-reverse;
	}

	.graphics-container{
		margin: 150px 0 80px 0;
	}

	.yellow-bar{
		height: 65px;
	}

	.yellow-circle{
		height: 150px;
		width: 150px;
	}

	.text-zone{
		flex-direction: column;
		justify-content: center;
	}

	.text-top{
		display: block;
		/*font-size: .5rem;*/
		left: 0;
		position: absolute;
		top: 0;
		width: 80%;
		margin: 0;
	}

	.button-container{
		margin: 0 auto;
		width: 80%;
	}

	.label{
		text-align: center;
		width: 100%;
	}

	.button{
		display: block;
		margin: 25px auto 5px auto;
	}
	
	.buttons-zone{
		flex-direction: column;
		justify-content: center;
	}

	.posty{
		transform: translateY(-75px) translateX(14px) translateZ(70px) scale(1);
	}

	.bottom-zone__name{
		font-size: 2.5rem;
		margin: 0 0 50px 0;
	}

	.text{
		font-size: 1rem;
		margin: 10px;
		width: 80%;
	}

	.text-zone{
		display: none;
	}

	.volume{
		margin: 20px 0 0 0;
		position: absolute;
		top: 0;
		right: 50px;
	}

	.vol-svg{
		height: 30px;
	}
}